<!--Carte Annonce-->
<div
  class="bg-white shadow-1 p-5 rounded-lg w-full max-w-[400px] mx-auto cursor-pointer hover:shadow-2xl transition shadow ">
  <!--Image annonce-->
  <img src="/images/<%= annonce.photos %>" alt="house photo"
    class="mb-8 rounded-xl">
  <!--Title -->
  <div class="mb-2 font-bold">
    <%= annonce.titre %>
  </div>

  <!-- Status -->
  <div class="mb-2 flex gap-x-2 text-sm">
    <!-- Location ou vente -->
    <div class="bg-green-500 rounded-full text-white px-3">
      <%= annonce.type %>
    </div>

    <!--Status du bien -->
    <div class="bg-violet-500 rounded-full text-white px-3">
      <%= annonce.statusBien %>
    </div>

    <!-- Prix -->
  </div>

  <!-- Date et prix -->
  <div class="flex justify-between">
    <!-- Date -->
    <div class="mb-2 flex items-center text-gray-600 gap-1">
      <!--Icone -->
      <div>
        <img src="/images/icons/calendar.svg" alt class="w-4">
      </div>
      <!--Date-->
      <div class="text-[14px]">
        <%= annonce.dateDisponibilite.toDateString() %>
      </div>
    </div>

    <!-- Prix -->
    <div
      class="mb-2 flex items-center justify-center text-gray-600 gap-1 py-1 px-2 bg-cyan-200 rounded-xl">
      <!--Date-->
      <div class="text-[14px] font-bold">
        <%= annonce.prix %>
      </div>
      <!--Icone -->
      <div>
        <img src="/images/icons/euro.svg" alt="euro" class="w-4">
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="truncate text-md font-light w-full max-h-8 overflow-hidden">
    <%= annonce.descriptionLongue %>
  </div>
  <button class="mt-2 text-gray-500 underline align-baseline flex items-center gap-2">More
    <svg style="color: gray" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16"> <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" fill="gray"></path> </svg>
  </button>
</div>
