<!--Carte Annonce-->
<div
  class="bg-white shadow-1 p-5 rounded-lg w-full max-w-[400px] mx-auto cursor-pointer hover:shadow-2xl transition shadow ">
  <!--Image annonce-->
  <img src="/images/<%= annonce.photos %>" alt="house photo"
    class="mb-8 rounded-xl">
  <!--Title -->
  <div class="mb-2 font-bold">
    <%= annonce.titre %>
  </div>

  <!-- Status -->
  <div class="mb-2 flex gap-x-2 text-sm">
    <!-- Location ou vente -->
    <div class="bg-green-500 rounded-full text-white px-3">
      <%= annonce.type %>
    </div>

    <!--Status du bien -->
    <div class="bg-violet-500 rounded-full text-white px-3">
      <%= annonce.statusBien %>
    </div>

    <!-- Prix -->
  </div>

  <!-- Date et prix -->
  <div class="flex justify-between">
    <!-- Date -->
    <div class="mb-2 flex items-center text-gray-600 gap-1">
      <!--Icone -->
      <div>
        <img src="/images/icons/calendar.svg" alt class="w-4">
      </div>
      <!--Date-->
      <div class="text-[14px]">
        <%= annonce.dateDisponibilite.toDateString() %>
      </div>
    </div>

    <!-- Prix -->
    <div
      class="mb-2 flex items-center justify-center text-gray-600 gap-1 py-1 px-2 bg-cyan-200 rounded-xl">
      <!--Date-->
      <div class="text-[14px] font-bold">
        <%= annonce.prix %>
      </div>
      <!--Icone -->
      <div>
        <img src="/images/icons/euro.svg" alt="euro" class="w-4">
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="text-md font-light w-full ">
    <%= annonce.descriptionLongue %>
  </div>
</div>
