<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/head.ejs'); %>
    <!-- 
      <link rel="stylesheet" href="/stylesheets/style.css">
    -->
  </head>
  <body>
    <!--Navbar-->
    <%- include('./partials/navbar.ejs'); %>
    <section>
      <div class="container mt-4 mx-auto min-h-[800px] px-1 mb-14">
        <!-- Titre et bouttons -->
        <div
          class="flex flex-col lg:flex-row lg:items-center lg:justify-between px-4 py-2"
        >
          <div class="text-3xl font-semibold mb-4"><%- annonce.titre %></div>
          <div class="mb-4 lg:mb-0 flex gap-x-2 text-sm">
            <% if(isAdmin) { %>
            <a
              href="/annonces/update/<%= annonce._id %>"
              class="text-white bg-cyan-700 hover:bg-cyan-800 focus:ring-4 focus:outline-none focus:ring-cyan-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2"
            >
              <svg
                class="w-3 h-3 text-white mr-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M1 5h1.424a3.228 3.228 0 0 0 6.152 0H19a1 1 0 1 0 0-2H8.576a3.228 3.228 0 0 0-6.152 0H1a1 1 0 1 0 0 2Zm18 4h-1.424a3.228 3.228 0 0 0-6.152 0H1a1 1 0 1 0 0 2h10.424a3.228 3.228 0 0 0 6.152 0H19a1 1 0 0 0 0-2Zm0 6H8.576a3.228 3.228 0 0 0-6.152 0H1a1 1 0 0 0 0 2h1.424a3.228 3.228 0 0 0 6.152 0H19a1 1 0 0 0 0-2Z"
                />
              </svg>
              Modifier
            </a>
            <a
              href="/delete/<%- annonce._id %>"
              class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2"
            >
              <svg
                class="w-3 h-3 text-white mr-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 18 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h16M7 8v8m4-8v8M7 1h4a1 1 0 0 1 1 1v3H6V2a1 1 0 0 1 1-1ZM3 5h12v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V5Z"
                />
              </svg>
              Supprimer
            </a>
            <% } else { %>

            <a
              href="#questions"
              class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:green-cyan-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2"
            >
              <svg
                class="w-3 h-3 text-white mr-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M7.529 7.988a2.502 2.502 0 0 1 5 .191A2.441 2.441 0 0 1 10 10.582V12m-.01 3.008H10M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
              Poser une question
            </a>
            <%}%>
          </div>
        </div>

        <div class="flex flex-col items-start gap-8 lg:flex-row">
          <div class="max-w-[768px]">
            <div class="grid gap-4 mb-4">
              <div>
                <img
                  class="h-auto max-w-full rounded-lg"
                  src="/images/<%= annonce.photos[0] %>"
                  alt="House Photo 1"
                />
              </div>
              <div class="grid grid-cols-5 gap-4">
                <% for (let i = 1; i < annonce.photos.length; i++) { %>
                <div>
                  <img
                    class="h-auto max-w-full rounded-lg"
                    src="/images/<%-annonce.photos[i] %>"
                    alt="House Photo <%= i + 1 %>"
                  />
                </div>
                <% } %>
              </div>
            </div>
          </div>

          <div class="flex flex-col w-full justify-between">
            <div class="mb-2 bg-white rounded-xl shadow">
              <div class="flex flex-col items-center py-4 w-full">
                <img
                  class="w-20 h-20 mb-3 rounded-full shadow-sm"
                  src="/images/avatar.jpeg"
                  alt="Bonnie image"
                />
                <h5
                  class="mb-1 text-xl font-medium text-gray-900 dark:text-white"
                >
                  Bonnie Green
                </h5>
                <span class="text-sm text-gray-500 dark:text-gray-400"
                  >Agent Immobilier</span
                >
              </div>
            </div>

            <div class="mb-2 py-4 px-4 rounded-xl shadow text-center">
              <div
                class="font-medium mb-3 self-center flex space-x-4 justify-center items-center"
              >
                <svg
                  class="w-[20px] h-[20px]"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                  />
                </svg>
                <p class="font-semibold text-xl">Informations</p>
              </div>

              <div
                class="mb-2 flex flex-row justify-center items-center space-x-4 font-extrabold text-cyan-500 text-xl"
              >
                <span
                  class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-1 rounded"
                  >En vente</span
                >
                <span
                  class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-1 rounded dark:bg-green-900 dark:text-green-300"
                  >Disponible</span
                >
              </div>

              <div
                class="mb-2 py-4 px-4 rounded-xl shadow flex space-x-5 justify-start items-center"
              >
                <div class=" ">
                  <svg
                    class="w-[34px] h-[34px] text-gray-800 dark:text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"
                    />
                  </svg>
                </div>
                <div class="flex-1 gap-x-3">
                  <%- annonce.dateDisponibilite.toDateString() %>
                </div>
              </div>

              <div
                class="mb-3 py-4 px-4 rounded-xl shadow flex space-x-5 justify-start items-center"
              >
                <div class=" ">
                  <svg
                    class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 18"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M1 7h9.231M1 11h9.231M13 2.086A5.95 5.95 0 0 0 9.615 1C5.877 1 2.846 4.582 2.846 9s3.031 8 6.769 8A5.94 5.94 0 0 0 13 15.916"
                    />
                  </svg>
                </div>
                <div
                  class="flex-1 gap-x-3 text-center text-red-500 font-semibold"
                >
                  <%- annonce.prix %>
                </div>
              </div>
            </div>

            <div class="mb-2 py-4 px-4 rounded-xl shadow min-h-[200px]">
              <div class="font-bold text-xl mb-3">Déscription</div>
              <div class="flex flex-row justify-center font-normal">
                <%- annonce.descriptionLongue %>
              </div>
            </div>
          </div>
        </div>

        <section id="posez_votre_question">
          <div class="mb-2 py-4 bg-white rounded-xl shadow">
            <!--Titres-->
            <div class="flex flex-col items-center py-4 w-full">
              <div
                class="font-medium mb-3 self-center flex space-x-4 justify-center items-center"
              >
                <svg
                  class="w-[20px] h-[20px]"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                  />
                </svg>
                <p class="font-semibold text-xl">Posez votre question ?</p>
              </div>
            </div>
            <!--Posez votre questions -->
            <form
              action="/annonces/poserQuestion/<%- annonce._id -%>"
              method="post"
            >
              <div
                class="px-4 my-2 grid grid-cols-2 md:grid-cols-4 gap-1 md:gap-8"
              >
                <input
                  type="text"
                  id="question-input"
                  placeholder="Rédigez votre question "
                  name="question"
                  class="block col-span-3 w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs"
                />
                <button
                  class="text-white bg-indigo-700 hover:bg-indigo-800 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex justify-center items-center mr-2"
                  type="submit"
                >
                  <svg
                    class="w-3 h-3 text-white mr-4"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 8 14"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"
                    />
                  </svg>
                  Envoyer
                </button>
              </div>
            </form>
          </div>
        </section>

        <section id="questions">
          <div class="mb-2 bg-white rounded-xl shadow">
            <!--Titres-->
            <div class="flex flex-col items-center py-4 w-full">
              <div
                class="font-medium mb-3 self-center flex space-x-4 justify-center items-center"
              >
                <svg
                  class="w-[20px] h-[20px]"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                  />
                </svg>
                <p class="font-semibold text-xl">Questions</p>
              </div>
            </div>

            <% annonce.questions.forEach(function(question) { %>

            <div class="grid col-span-1 space-y-3 p-2">
              <div class="p-4 shadow rounded-xl">
                <div class="flex justify-center items-center">
                  <div>
                    <svg
                      class="w-[40px] h-[40px]"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                      />
                    </svg>
                  </div>

                  <div class="w-full flex flex-col">
                    <div
                      class="flex w-full items-center justify-between space-x-10"
                    >
                      <!--Username-->

                      <div class="text-xl font-semibold ml-4">
                        <span
                          class="bg-gray-100 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded mr-2 mb-1"
                        >
                          <svg
                            class="w-2.5 h-2.5 mr-1.5"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 14 18"
                          >
                            <path
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M7 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-2 3h4a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"
                            />
                          </svg>
                          <%- question.utilisateur_username %>
                        </span>
                      </div>

                      <!--Date-->
                      <div
                        class="bg-gray-100 text-gray-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded"
                      >
                        <%= question.date.toLocaleString('fr-FR')%>
                      </div>
                    </div>

                    <!--la question -->
                    <div class="ml-4 sm:ml-10 mb-2 text-sm">
                      <%- question.question %>
                    </div>

                    <!-- les réponses -->

                    <% question.reponses.forEach(function(reponse) { %>
                    <div
                      class="ml-14 mb-1 bg-indigo-100 text-indigo-800 text-xs font-medium mr-2 px-2.5 py-2 rounded dark:bg-indigo-900 dark:text-indigo-300"
                    >
                      <div class="flex items-center justify-between">
                        <span
                          class="bg-gray-100 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded mr-2 mb-1"
                        >
                          <svg
                            class="w-2.5 h-2.5 mr-1.5"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 14 18"
                          >
                            <path
                              d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"
                            />
                          </svg>
                          <%- reponse.agent_immobilier_username %>
                        </span>

                        <span
                          class="bg-gray-100 text-gray-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded"
                        >
                          <%- reponse.date.toLocaleString('fr-FR')%></span
                        >
                      </div>

                      <div class="ml-2"><%- reponse.reponse %></div>
                    </div>
                    <% }); %>
                  </div>
                </div>
                <% if (isAdmin) { %>
                <!-- Input for reponse -->

                <form
                  action="/annonces/repondreQuestion/<%- question._id %>"
                  method="post"
                >
                  <div
                    class="ml-10 my-2 grid grid-cols-2 md:grid-cols-4 gap-1 md:gap-8"
                  >
                    <input
                      type="text"
                      id="small-input"
                      placeholder="Rédigez votre réponse "
                      name="reponse"
                      class="block col-span-3 w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs"
                    />
                    <input
                      type="hidden"
                      name="annonceId"
                      value="<%- annonce._id %>"
                    />

                    <button
                      type="submit"
                      class="text-white bg-indigo-700 hover:bg-indigo-800 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex justify-center items-center mr-2"
                    >
                      <svg
                        class="w-3 h-3 text-white mr-4"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 8 14"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"
                        />
                      </svg>
                      Répondre
                    </button>
                  </div>
                </form>

                <% } %>
              </div>
            </div>

            <% }); %>

            <!-- listes des questions avec reponses -->
            <div class="grid col-span-1 space-y-3 p-2">
              <div class="p-4 shadow rounded-xl">
                <div class="flex justify-center items-center">
                  <div>
                    <svg
                      class="w-[40px] h-[40px]"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                      />
                    </svg>
                  </div>

                  <div class="w-full flex flex-col">
                    <div class="text-md font-semibold mb-2">Nom et Prénom</div>

                    <!--la question -->
                    <div class="ml-4 sm:ml-10 mb-2 text-sm">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                      Ab harum laboriosam voluptatum accusamus nemo quibusdam
                      aspernatur, molestiae nam, assumenda mollitia doloribus
                      ratione quae perspiciatis ipsam libero blanditiis
                      reprehenderit officiis necessitatibus?
                    </div>

                    <!-- les réponses -->

                    <div
                      class="ml-14 mb-1 bg-indigo-100 text-indigo-800 text-xs font-medium mr-2 px-2.5 py-2 rounded dark:bg-indigo-900 dark:text-indigo-300"
                    >
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                      Ab harum laboriosam voluptatum accusamus nemo quibusdam
                      aspernatur, molestiae nam, assumenda mollitia doloribus
                      ratione quae perspiciatis ipsam libero blanditiis
                      reprehenderit officiis necessitatibus?
                    </div>
                  </div>
                </div>
                <% if (isAdmin) { %>
                <!-- Input for reponse -->
                <div
                  class="ml-10 my-2 grid grid-cols-2 md:grid-cols-4 gap-1 md:gap-8"
                >
                  <input
                    type="text"
                    id="small-input"
                    placeholder="Rédigez votre réponse "
                    class="block col-span-3 w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs"
                  />

                  <button
                    class="text-white bg-indigo-700 hover:bg-indigo-800 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex justify-center items-center mr-2"
                  >
                    <svg
                      class="w-3 h-3 text-white mr-4"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 8 14"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"
                      />
                    </svg>
                    Répondre
                  </button>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>

    <!--Footer -->
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
